//-div(class="w3-margin-bottom w3-green w3-padding no-underline w3-bar")
	div(class="w3-xlarge w3-show-inline-block")
		a(href="/" class="futura") Jordan Lees
	div(class="w3-right w3-show-inline-block" style="margin-top: -8px;")
		span(class="w3-show-inline-block drak-hover-lightgreen drak-btn w3-padding-large w3-padding-16")
			a(href="" class="") Home
		span(class="w3-show-inline-block drak-hover-lightgreen drak-btn w3-padding-large w3-padding-16")
			a(href="" class="") About
		span(class="w3-show-inline-block w3-dropdown-hover drak-hover-lightgreen" style="float:none;")
			span(class="w3-show-inline-block drak-btn w3-text-white w3-hover-text-black w3-padding-large w3-padding-16")
				a(href="" class="") Portfolio
			span(class="w3-dropdown-content drak-lightgreen")
				div(class="drak-btn w3-padding w3-padding-16 w3-text-white w3-hover-text-black")
					a(href="") asdlkfjkl
				div(class="drak-btn w3-padding w3-padding-16 w3-text-white w3-hover-text-black")
					a(href="") fdsjkfjs
		span(class="w3-show-inline-block drak-hover-lightgreen drak-btn w3-padding-large w3-padding-16")
			a(href="" class="") Playground
		span(class="w3-show-inline-block drak-hover-lightgreen drak-btn w3-padding-large w3-padding-16")
			a(href="" class="") Contact
div(class="w3-green w3-padding no-underline w3-bar")
	div(class="w3-xlarge w3-show-inline-block")
		a(href="/" class="futura") Jordan Lees
	
	div(class="w3-right w3-show-inline-block" style="margin-top: -8px;")
		for item, i in navItems
			if( item.type == "link" )
				span(class="w3-show-inline-block drak-hover-lightgreen drak-btn w3-padding-large w3-padding-16")
					a(href=item.href)=item.name
			if( item.type == "dropdown")
				span(class="w3-show-inline-block w3-dropdown-hover drak-hover-lightgreen" style="float:none;")
					span(class="w3-show-inline-block drak-btn w3-text-white w3-hover-text-black w3-padding-large w3-padding-16")
						a(href=item.href)=item.name
					span(class="w3-dropdown-content drak-lightgreen")
						for dropdownItem, i in item.dropdownItems
							div(class="drak-btn w3-padding w3-padding-16 w3-text-white w3-hover-text-black")
								a(href=dropdownItem.href)=dropdownItem.name