extends ../layout
block content
    center
        h1(class="drak-title-width") hello there, friend
        h3 Welcome to my website, developed by Jordan Lees.
        p This page isn't set up yet, sorry!