extends ../layout
block content
    center
        h1(class="drak-title-width") hello there, friend
        h3 Welcome to jordanle.es, developed by Jordan Lees.
        p
            span This homepage isn't set up yet. Visit my JS Playground 
            a(href="/playground/")
                span here.