doctype html
html
	head
		- if(layoutType == "drak")
			include drak/headerInclude
		- if(layoutType == "jordan")
			include jordan/headerInclude
		link(href='/css/w3.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		script(src='/libs/jquery/dist/jquery.min.js')
		script(src='/js/ui.js')
	body
		- if(layoutType == "drak")
			include drak/bodyLayout
		- if(layoutType == "jordan")
			include jordan/bodyLayout