doctype html
html
	head
		- if(layoutType == "drak")
			include drak/.headerInclude
		- if(layoutType == "jordan")
			include jordan/.headerInclude
		link(href='/css/w3.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		link(href='/css/colors.css', rel='stylesheet')
		link(href='/css/fonts.css?v=1', rel='stylesheet')
		script(src='/js/jquery.min.js')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
	body
		- if(layoutType == "drak")
			include drak/.bodyLayout
		- else if(layoutType == "jordan")
			include jordan/.bodyLayout
		- else 
			block content