/* Custom colors template
.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-text-indigo{color:#3f51b5!important}
*/

.drak-blue,.drak-hover-blue:hover{color:#fff!important;background-color:#5A72BF!important}
.drak-black,.drak-hover-black:hover{color:#fff!important;background-color:#222!important}
.drak-yellow,.drak-hover-yellow:hover{color:#000!important;background-color:#FAF8C5!important}
.drak-darkyellow,.drak-hover-darkyellow:hover{color:#fff!important;background-color:#57563D!important}
.drak-darkblue,.drak-hover-darkblue:hover{color:#fff!important;background-color:#2F329C!important}
.drak-lightgreen,.drak-hover-lightgreen:hover{color:#000!important;background-color:#ade2af!important}

.drak-text-blue{color:#5A72BF!important}
.drak-text-black{color:#222!important}
.drak-text-yellow{color:#FAF8C5!important}
.drak-text-darkyellow{color:#57563D!important}
.drak-text-darkblue{color:#2F329C!important}
.drak-text-lightgreen{color:#ade2af!important}

.badge-header{
	font-family: Charcoal, Impact, sans-serif
}

.badge-image{
	max-height: 200px;
}

.badge-bg{
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
    background: linear-gradient(205deg,rgba(255, 251, 200, 0.7) 50%,rgba(249, 255, 214, 0.4) 100%),
        linear-gradient(160deg,rgb(0, 17, 168) 30%,rgb(152, 255, 148) 90%);
}