/* Custom colors template
.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-text-indigo{color:#3f51b5!important}
*/

.drak-blue,.drak-hover-blue:hover{color:#fff!important;background-color:#5A72BF!important}
.drak-text-blue{color:#5A72BF!important}

.drak-black,.drak-hover-black:hover{color:#fff!important;background-color:#222!important}
.drak-text-black{color:#222!important}

.drak-yellow,.drak-hover-yellow:hover{color:#000!important;background-color:#FAF8C5!important}
.drak-text-yellow{color:#FAF8C5!important}

.drak-darkyellow,.drak-hover-darkyellow:hover{color:#fff!important;background-color:#57563D!important}
.drak-text-darkyellow{color:#57563D!important}

.drak-darkblue,.drak-hover-darkblue:hover{color:#fff!important;background-color:#2F329C!important}
.drak-text-darkblue{color:#2F329C!important}

.drak-lightgreen,.drak-hover-lightgreen:hover{color:#000!important;background-color:#ade2af!important}
.drak-text-lightgreen{color:#ade2af!important}