.TravelingTypewriter{font-family: "TravelingTypewriter";}
.Roboto{font-family: "Roboto-Thin";}
.FuturFixedWidth{font-family: "FuturFixedWidth";}
.Futura{font-family: "Futura";}
.Allan{font-family: "Allan";}
.Milford{font-family: "MilfordCondensedBold";}

.strong{font-weight: bold;}
.italic{font-style: italic;}
.allcaps{text-transform: uppercase;}

@font-face{
	font-family: "MilfordCondensedBold";
	src: url('/fonts/MILFCD_B.otf') format("opentype"),
		url('/fonts/MILFCD_B.eot'),
		url('/fonts/MILFCD_B.ttf') format("truetype");
} 

@font-face{
	font-family: "Futura";
	src: url('/fonts/futur.otf') format("opentype"),
		url('/fonts/futur.ttf') format("truetype");
}
@font-face{
	font-family: "TravelingTypewriter";
	src: url('/fonts/TravelingTypewriter.otf') format("opentype"),
		url('/fonts/TravelingTypewriter.ttf') format("truetype");
}
@font-face{
	font-family: "Roboto-Thin";
	src: url('/fonts/Roboto-Thin.ttf') format("truetype");
}
@font-face{
	font-family: "FuturFixedWidth";
	src: url('/fonts/FuturFixedWidth.ttf') format("truetype");
}
@font-face{
	font-family: "Allan";
	src: url('/fonts/Allan-Regular.ttf');
}
@font-face{
	font-family: "Allan";
	src: url('/fonts/Allan-Bold.ttf');
	font-weight: bold;
}