.TravelingTypewriter{
	font-family: "TravelingTypewriter";
}
.Roboto{
	font-family: "Roboto-Thin";
}
.FuturFixedWidth{
	font-family: "FuturFixedWidth";
}
.Futura{
	font-family: "Futura";
}

.strong{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

@font-face{
	font-family: "Futura";
	src: url('/fonts/futur.otf') format("opentype"),
		url('/fonts/futur.ttf') format("truetype");
}
@font-face{
	font-family: "TravelingTypewriter";
	src: url('/fonts/TravelingTypewriter.otf') format("opentype"),
		url('/fonts/TravelingTypewriter.ttf') format("truetype");
}
@font-face{
	font-family: "Roboto-Thin";
	src: url('/fonts/Roboto-Thin.ttf') format("truetype");
}
@font-face{
	font-family: "FuturFixedWidth";
	src: url('/fonts/FuturFixedWidth.ttf') format("truetype");
}