.drak-btn:hover{cursor:pointer;}

.no-underline, .no-underline a, a .no-underline{
	text-decoration: none!important;
}

.drak-title-width{
	letter-spacing: 2px;
	transition-timing-function: ease-out;
	transition: 6s;
}

.w3-margin-sides{
	margin-left: 16px!important;
	margin-right: 16px!important;
}

.drak-margin-25pc{
	margin-top:25%!important;
}


.drak-bold{
	font-weight: 500;
}
.drak-light{
	font-weight: 100;
}