/* Custom colors template
.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-text-indigo{color:#3f51b5!important}
*/

.drak-blue,.drak-hover-blue:hover{color:#fff!important;background-color:#5A72BF!important}
.drak-text-blue{color:#5A72BF!important}

.drak-yellow,.drak-hover-yellow:hover{color:#fff!important;background-color:#FAF8C5!important}
.drak-text-yellow{color:#FAF8C5!important}

.drak-darkyellow,.drak-hover-darkyellow:hover{color:#fff!important;background-color:#57563D!important}
.drak-text-darkyellow{color:#57563D!important}

.drak-darkblue,.drak-hover-darkblue:hover{color:#fff!important;background-color:#2F329C!important}
.drak-text-darkblue{color:#2F329C!important}


body{
	/*background-image: url("/images/horse.jpg");*/
	background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;
    background-size: contain;
}

.drak-title-width{
	letter-spacing: 2px;
	transition-timing-function: ease-out;
	transition: 6s;
}