.playground-block{
    max-width: 700px;
    vertical-align: top;
}
.playground-desc{
    margin-bottom: 32px;
}
.playground-image-container{
    max-width: 700px;
    max-height: 300px;
    overflow: hidden;
}
.playground-image{
    position: relative;
    top: 0px;
    left: 0px;
    transition: left .5s ease-in-out, width .5s ease-in-out;
}
.not-found-image{
    position: relative;
    top: -215px;		
}
@media(max-width: 750px){
    .playground-block{
        max-width: 500px;
    }
    .playground-image-container{
        max-width: 500px;
        max-height: 214px;
    }
}
@media(max-width: 550px){
    .playground-block{
        max-width: 300px;
    }
    .playground-image-container{
        max-width: 300px;
        max-height: 129px;
    }
}