extends layout
block content
	h2=title
	h5 Height
	ul 
		li Females: Up to 14 ft
		li Males: Up to 18 ft
	br 
	h5 Weight
	ul 
		li Females: up to 1500 lbs
		li Males: up to 3000 lbs
	br 
	h5 General info
	ul 
		li Extremely tall
		li Lives on average 25 years
		li 
			a(href="https://www.scq.ubc.ca/quarterly015/0105peachey.html#:~:text=%E2%80%9CThe%20giraffe's%20lungs%20are%20eight,(12%20feet)%20of%20trachea.")
				span https://www.scq.ubc.ca/quarterly015/0105peachey.html#:~:text=%E2%80%9CThe%20giraffe's%20lungs%20are%20eight,(12%20feet)%20of%20trachea.
	p The giraffe’s lungs are eight times the size of those of humans, and its respiratory rate is about one-third that of humans. Breathing more slowly is necessary in order to exchange the required large volume of air without causing windburn to the giraffe’s rippled 3.6 metres (12 feet) of trachea. When the animal takes in a fresh breath, the oxygen-depleted previous breath cannot be totally expelled. For the giraffe this problem is compounded by the long trachea that will retain more dead air than man can inhale in one breath. There must be enough lung volume to make this ‘bad air’ a small percentage of the total” (Hofland 12).