extends layout
block content
	h2=title
	ul 
		li Giraffes are predominantly browsers that eat leaves and buds on trees and shrubs. 
		li 
			a(href="https://giraffeconservation.org/facts/how-much-do-giraffe-eat-in-a-day-what-does-their-diet-consist-of/#:~:text=Giraffe%20are%20predominantly%20browsers%20and,their%20diet%20is%20very%20low. ")
				span https://giraffeconservation.org/facts/how-much-do-giraffe-eat-in-a-day-what-does-their-diet-consist-of/#:~:text=Giraffe%20are%20predominantly%20browsers%20and,their%20diet%20is%20very%20low. 
		li Giraffes defend themselves against predators by kicking with either their back or front feet.
		li Giraffes are able to break the back of a lion
		li In the wild, Giraffes almost never lie down because of vulnerability to predators. They usually sleep standing, sometimes sitting. 
		li When they sleep, they curl their necks and sleep for about five minutes at a time, sleeping no more than 30 minutes a day. 
		li 
			a(href="https://www.africa-wildlife-detective.com/giraffe.html#:~:text=Giraffes%20defend%20themselves%20against%20predators%20by%20kicking%20with%20either%20the,the%20back%20of%20a%20lion.&text=This%20makes%20them%20less%20able%20to%20keep%20watch%20for%20predators%20while%20feeding.")
				span https://www.africa-wildlife-detective.com/giraffe.html#:~:text=Giraffes%20defend%20themselves%20against%20predators%20by%20kicking%20with%20either%20the,the%20back%20of%20a%20lion.&text=This%20makes%20them%20less%20able%20to%20keep%20watch%20for%20predators%20while%20feeding.
		li
			a(href="https://switchzoo.com/profiles/giraffe.htm#:~:text=In%20the%20wild%2C%20giraffes%20almost,than%2030%20minutes%20a%20day.&text=Herbivore.")
				span https://switchzoo.com/profiles/giraffe.htm#:~:text=In%20the%20wild%2C%20giraffes%20almost,than%2030%20minutes%20a%20day.&text=Herbivore.