extends layout
block content
	h2=title
	ul
	
		li Herbivores (Leaves, seeds, fruits, buds, and branches
		li Mimosa and acacia trees
		li Eat all day
		li Can only eat a few leaves at a time
		li May eat up to 75 pounds of food per day
		li Acacia trees have thorns that prevent other animals from eating their leaves, but giraffes get around this with their long tongues and lips and sappy saliva
		li Giraffes in captivity are usually fed hay, carrots, and low starch, high fiber biscuits
		li 
			a(href="https://www.livescience.com/27336-giraffes.html#:~:text=Giraffes%20are%20herbivores%2C%20which%20means,week%2C%20according%20to%20National%20Geographic")
				span https://www.livescience.com/27336-giraffes.html#:~:text=Giraffes%20are%20herbivores%2C%20which%20means,week%2C%20according%20to%20National%20Geographic
		li 
			a(href="https://animals.sandiegozoo.org/animals/giraffe#:~:text=Giraffes%20may%20eat%20up%20to,most%20animals%20from%20eating%20them.")
				span https://animals.sandiegozoo.org/animals/giraffe#:~:text=Giraffes%20may%20eat%20up%20to,most%20animals%20from%20eating%20them.