extends layout
block content
	h2=title
	h5 Where are giraffes found?
	ul 
		li Giraffes are found in sub saharan africa.
		li They live in grasslands and open woodlands in East Africa, especially in nature reserves.
		li Some are in reserves of Southern Africa
		li 
			a(href="https://www.nationalgeographic.com/animals/mammals/g/giraffe/")
				span https://www.nationalgeographic.com/animals/mammals/g/giraffe/
		li 
			a(href="https://www.britannica.com/animal/giraffe")
				span https://www.britannica.com/animal/giraffe
	br 
	h5 What climate do they prefer?
	ul
		li Giraffes are found in the savanna with temperatures ranging from 70 degrees to the mid 80 degrees. 
		li 
			a(href="https://animals.mom.com/kind-climate-giraffe-live-in-2190.html")
				span https://animals.mom.com/kind-climate-giraffe-live-in-2190.html
	br 
	h5 What do they eat?
	ul 
		li Giraffes are herbivores, so they eat leaves from the trees and shrubs, but also eat fruits when they are in season.
	