extends layout
block content
	h2=title
	div(class="w3-container w3-padding")
		img(src="https://media.discordapp.net/attachments/803362255299018772/803367227406417930/90.png?width=960&height=540")
	div(class="w3-container w3-padding")
		img(src="https://cdn.discordapp.com/attachments/803362255299018772/803368925596745738/161208105802-03-giraffe-red-list-endangered-super-169.png")
	div(class="w3-container w3-padding")
		img(src="https://cdn.discordapp.com/attachments/803362255299018772/803369533162520576/MA-092517-GIRAFFES-Hero.png")
	div(class="w3-container w3-padding")
		img(src="https://cdn.discordapp.com/attachments/803362255299018772/803367430096683008/giraffe-top.png")