extends layout
block content
	h2=title
	h5 Giraffe genetic secret: Four species of tallest mammal identified - BBC News 
	p Welcome to the wonderful world of learning about Giraffes! Towering at (insert giraffe height here) they are the tallest living mammal and one of nature’s more interesting looking animals. On this site you will be able to learn about how these creatures’ lice, how they eat, and maybe even why they have the long necks that they are so well known for! Click the links below to go more in depth about these animals! 
	br 
	h5 Photo Submission Page
	p Have your own photos of Giraffes?? Want to help us teach people about giraffes and not need to steal photos from Google images anymore! Submit your photos below and maybe we can feature you on the site! Be sure to include a name with your photo so we know who to credit! 
	div(class="w3-container")
		img(class="w3-image" src="/images/giraffes/Photo3.jpg")
	p A photo of a giraffe showcasing one of the uses of its long neck! 
	p Your next Zoom call could be with a camel, giraffe, or alligator | News (dailyhive.com)
