doctype html
html
	head
		title #{title} | We Love Giraffes!
		link(href='/css/w3.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		link(href='/css/colors.css', rel='stylesheet')
		link(href='/css/fonts.css?v=1', rel='stylesheet')
		script(src='/js/jquery.min.js')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
	body(class="w3-center")
		div(class="w3-auto")
			div(class="w3-row w3-black")
				div(class="w3-hover-white w3-padding w3-show-inline-block")
					a(href="/software-engineering/giraffes/") Home
				div(class="w3-hover-white w3-padding w3-show-inline-block")
					a(href="/software-engineering/giraffes/images") Images
				div(class="w3-hover-white w3-padding w3-show-inline-block")
					a(href="/software-engineering/giraffes/diet") Diet
				div(class="w3-hover-white w3-padding w3-show-inline-block")
					a(href="/software-engineering/giraffes/reproduction") Reproduction
				div(class="w3-hover-white w3-padding w3-show-inline-block")
					a(href="/software-engineering/giraffes/habitat") Habitat
				div(class="w3-hover-white w3-padding w3-show-inline-block")
					a(href="/software-engineering/giraffes/classification") Classification
				div(class="w3-hover-white w3-padding w3-show-inline-block")
					a(href="/software-engineering/giraffes/anatomy") Anatomy
				div(class="w3-hover-white w3-padding w3-show-inline-block")
					a(href="/software-engineering/giraffes/behavior") Behavior
			block content