extends layout
block content
	h2=title
	ul 
		li Gestation is 15 months
		li Giraffes give birth standing up
		li Giraffes will tend to newborns as a herd/pack (“babysitting”)
		li Babies are born around 110 to 154lbs and are usually around 6 feet tall
		li Giraffe stay with parent for 9 to 12 months
		li Giraffes typically only have 1 offspring at a time
		li Males fight for a female (“necking” battles)
		li Males are ready to mate at 7 years old – females at 4 years old
		li Males smell urine in order to determine which females are willing to mate	
		li No breeding seasons – happen all the time
		li 
			a(href="https://www.giraffeworlds.com/giraffe-reproduction/")
				span https://www.giraffeworlds.com/giraffe-reproduction/
		li 
			a(href="https://www.monartosafari.com.au/facts-giraffe-birth/")
				span https://www.monartosafari.com.au/facts-giraffe-birth/