extends ../layout
block content
	link(rel="stylesheet" href="playground-style.css" type="text/css")
	script(src="playground-client.js")
	div(class="w3-section")
		h3(class="drak-bold") My JS Playground
		h3(class="drak-light") This is where I do my little JavaScript/HTML experiments. Here are some noteable ones I've published.
	br
	div(class="w3-center")
		for file, i in files
			div(class="w3-show-inline-block w3-margin-sides playground-block")
				a(href=file class="no-underline")
					div(class="playground-image-container")
						if( images[i] )
							img(class="w3-image playground-image" src=file+"/"+images[i])
						else
							img(class="w3-image not-found-image" src="/images/no-image-1000x.png")
					h4(class="playground-desc")
						span(class="drak-bold") #{titles[i]}
						span(class="drak-light")  #{descriptions[i]}