extends ../layout
block content
    div(class="w3-center w3-text-white")
        div(class="container full-height")
            h1(class="TravelingTypewriter headerTxt") drakinite
            h1(class="Roboto down-arrow") v
            img(src="/images/spring.jpg" class="bg-image" style="")
        div(class="container full-height")
            div#centerExtContent
                div.extContainer(style="margin: 24px 0px")
                    a(target="_blank" href="https://twitter.com/TheDrakinite" class="w3-block w3-margin-top")
                        img(class="extImg" src="/images/twitter-300px.png")
                        div(class="FuturFixedWidth extLabel w3-show-inline-block") twitter
                div.extContainer(style="margin: 24px 0px")
                    a(target="_blank" href="https://www.youtube.com/c/DrakiniteOfficial" class="w3-block w3-margin-top")
                        img(class="extImg" src="/images/youtube-300px.png")
                        div(class="FuturFixedWidth extLabel w3-show-inline-block") youtube
                div.extContainer(style="margin: 24px 0px")
                    a(target="_blank" href="https://drakinite.deviantart.com/" class="w3-block w3-margin-top")
                        img(class="extImg" src="/images/deviantart.png")
                        div(class="FuturFixedWidth extLabel w3-show-inline-block") deviantart
            img(src="/images/boathorse-1.jpg" class="bg-image" style="")
        div(class="container drak-black w3-text-grey" style="height: 220px")
            div(class="w3-left w3-left-align w3-margin")
                h4
                    span Made using 
                    a(href="https://nodejs.org/en/") node.js
                    span ,  
                    a(href="https://expressjs.com/") express
                    span , 
                    a(href="https://www.w3schools.com/w3css/") w3.css
                    span , and 
                    a(href="https://jquery.com/") JQuery
                    span .
                br 
                h4
                    span Copyright Drakinite 2018. All rights reserved.
                h4
                    span First image by 
                    a(href="https://twitter.com/imnotgalawaille?lang=en") Galawaille
                    span  | Second image by 
                    a(href="https://twitter.com/ashieboop?lang=en") Ashie
                h4
                    a(href="mailto:contact@jordanle.es") Contact
        //-div(class="container")
            img(src="/images/placeholder-blur.jpg" class="bg-image" style="")
    style.
        .extContainer{            
            transition-timing-function: ease-in;
            transition: 0.5s;
            padding: 16px 0px;
        }
        .extContainer:hover{
            background-color: rgba(200,200,200,0.5);
        }
        .extLabel{
            position: relative;
            top: -60px;
            font-size: 40px;
            margin-left: 24px;
            width: 250px;
        }
        .extImg{
            height: 150px;
        }
        .headerTxt{
            position: relative;
            top: 50%;
            
            font-size: 92px;
            letter-spacing: 8px;
            text-shadow: #222 0px 0 15px;
        }
        .down-arrow{
            margin: auto;
            position: relative;
            top: 74%;
            
            transform: scaleX(2);
            width: 50px;
            font-size: 2.8em;
            cursor: pointer;
            transition-timing-function: ease-in;
            transition: 0.5s;
        }
        .down-arrow:hover{
            position: relative;
            top: 75%;
        }
        .container{
            position: relative;
            overflow: hidden;
        }
        .bg-image{
            position: absolute;
            z-index: -1;
            
            user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        @media (max-width:600px){
            .extLabel{
                font-size: 30px;
                top: -40px;
            }
            .extImg{
                height: 100px;
            }
        }
    script.
        var ticking = false,
            previousScrollY = 0,
            numberImages = $('.bg-image').length;
        
        $(window).resize(doResizeWidth);
        window.addEventListener('scroll', function(e){
            previousScrollY = window.scrollY;
            
            if(!ticking){
                requestAnimationFrame(function(){
                    scrollImages(previousScrollY);
                    ticking = false;
                })
            }
            ticking = true;
        });
        $(".down-arrow").click(function(){
           $('html, body').animate({
                scrollTop: ($($('.container')[1]).offset().top)
            },750);            
        })
        
        function doResizeWidth(){
            
            var content = $("#centerExtContent");
            var windowHeight = $(window).innerHeight();
            var diff = (windowHeight - content.height())/2 - 24;
            
            content.css('position', 'relative');
            content.css('top', diff);
            
            var windowHeight = $(window).innerHeight();
            var windowWidth = $(window).innerWidth();
            var images = $('.bg-image');
            //height
            $('.full-height').css('height', windowHeight);
            //left
            
            for(var i = 0; i < images.length; i++){
                var image = $(images[i]);
                
                var width = image.width();
                var height = image.height();
                
                var ratio = width/height;
                var windowRatio = windowWidth / windowHeight;
                
                if(ratio > windowRatio){
                    image.css('width', 'auto');
                    image.css('height', '130%');
                }else{
                    image.css('width', windowWidth);
                    image.css('height', 'auto');
                }
                width = parseInt(image.css('width'));
                height = parseInt(image.css('height'));
                
                var diffX = -0.5* (width - windowWidth);
                //var diffY = -0.5* (height - windowHeight);
                
                image.css('left', diffX);
                //image.css('top', diffY);
                scrollImages(window.scrollY);
            }
        }
        function scrollImages(scrollY){
            var bodyHeight = document.body.clientHeight * (numberImages-1)/numberImages;
            var percScroll = 1 - scrollY / bodyHeight;
            //console.log(percScroll);
            
            for(var i = 0; i < numberImages; i++){
                var image = $($('.bg-image')[i]);
                
                var height = image.height();
                var windowHeight = $(window).innerHeight();
                
                //console.log(height - windowHeight);
                
                var diffY = - 0.5*percScroll * (height - windowHeight);
                //console.log(diffY);
                image.css('top', diffY);
            }
            
        }
        
        requestAnimationFrame(doResizeWidth);
        requestAnimationFrame(function(){
            scrollImages(400)
        });
        setTimeout(doResizeWidth, 350);